.portfolio{
    color: white;
}

.project-name{
    font-size: 60px;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 60;
    color: beige;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.container {
    font-size: 25px;
    position: relative;
    text-align: center;
  }

.row {
  display: flex;
  justify-content: center;
}

.proj-link {
  padding: 4px;
  text-decoration: none;
  border: solid 1px lightgray;
  color: black;
}

.proj-link:hover {
  background-color: navy;
  color: white;
  transition: all 0.4s;
}

.card {
  margin-bottom: 2rem;
}

.card-header {
  background-color: beige;
}

.card-footer {
  background-color: beige;
}

@media screen and (max-width: 992px) {
  .project-name {
    font-size: 40px;
  }
  .img {
    width: 350px;
  }
}