.about-section{
    margin-top: 20px;
    color: white;
}

.about{
    font-size: 60px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 60;
    color: white;
    text-align: center;
}

.about-story{
    font-size: 25px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .about {
        font-size: 40px;
    }
    .about-story {
        font-size: 16px;
    }
}
