.portfolio{
  margin-top: 20px;
    color: white;
}

.proj_one {
  margin-left: auto;
  margin-right: auto;
}

.proj_2 {
  margin-left: auto;
  margin-right: auto;
}

.proj_3 {
  margin-left: auto;
  margin-right: auto;
}

.proj_4 {
  margin-left: auto;
  margin-right: auto;
}

.project-name{
    font-size: 60px;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 60;
    color: white;
}

.container {
    font-size: 25px;
    position: relative;
    text-align: center;
  }

.row {
  display: flex;
  justify-content: center;
}

.proj-link {
  padding: 4px;
  text-decoration: none;
  background-color: black;
  border: solid 1px lightgray;
  color: white;
}

.proj-link:hover {
  background-color: white;
  color: black;
  transition: all 0.4s;
}

.card {
  margin-bottom: 2rem;
}

.card-header {
  background-color: beige;
}

.card-footer {
  background-color: beige;
}

@media screen and (max-width: 992px) {
  .project-name {
    font-size: 40px;
  }
  .img {
    width: 350px;
  }
}