
.nav-header{
    /* background-image: url(https://cdn.pixabay.com/photo/2020/08/01/19/09/banner-5456101_960_720.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 250px;   
    object-fit: contain; */
    background-color: rgb(223, 223, 223);
}

.nav_content{
    color: white;
    margin-left: 30px;
    padding-top: 50px;
    height: 190px;
}

.name{
    /* display: flex;
    justify-content: center;
    font-size: 65px;
    padding-bottom: 25px; */
    /* position: absolute; */
    display: flex;
    justify-content: center;
    /* transform: translate(50%,-50%); */
    text-transform: uppercase;
    font-family: verdana;
    font-size: 70px;
    font-weight: 60;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 55px;
    font-size: 25px;
}

.nav-link {
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 60;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  text-decoration: none;
}

/* .nav-fadeBottom{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.61),
        #111
    );
} */

@media screen and (max-width: 992px) {
    .name {
       font-size: 50px; 
    }
    .flex-row {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .name {
        font-size: 30px;
    }
    .flex-row {
        font-size: 14px;
    }
}
