header {
    margin-bottom: 50px;
}

nav {
    margin-top: 50px;
}

.nav_content{
    margin-left: 30px;
    padding-top: 50px;
    height: 190px;
}

.name{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 70px;
    font-weight: 60;
    color: white;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 55px;
    font-size: 25px;
}

.nav-link {
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 60;
    color: white;
}

.about_me {
    border-bottom: solid white 2px;
}

.portfolio_me {
    border-bottom: solid white 2px;
}

.contact_me {
    border-bottom: solid white 2px;
}

.resume_me {
    border-bottom: solid white 2px;
}


@media screen and (max-width: 992px) {
    .name {
       font-size: 50px; 
    }
    .flex-row {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .name {
        font-size: 30px;
    }
    .flex-row {
        font-size: 14px;
    }
}
